@use '../../../styles/base/colors' as c;
@use '../../../styles/base/spacing' as s;

$icon-path: '/assets/images/icons';

.icon {
    display: block;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    border-radius: 6px;

    &-html {
        background-image: url('#{$icon-path}/html.svg');
        background-color: c.$orange-50;
    }
    &-accessibility {
        background-image: url('#{$icon-path}/accessibility.svg');
        background-color: c.$purple-100;
    }
    &-css {
        background-image: url('#{$icon-path}/css.svg');
        background-color: c.$green-100;
    }
    &-js {
        background-image: url('#{$icon-path}/js.svg');
        background-color: c.$blue-50;
    }
    &-sun {
        background-image: url('#{$icon-path}/icon-sun-dark.svg');
    }
    &-moon {    
        background-image: url('#{$icon-path}/icon-moon-dark.svg');
    }
}

