@use '../../../styles/base/spacing' as s;
@use '../../../styles/base/colors' as c;
@use '../../../styles/base/fonts' as f;

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    margin-bottom: 85px;

    h4.subject {
        display: flex;
        align-items: center;
        app-icon {
            margin-right: s.$spacing-300;
        }
    }
}