@use '../../../styles/base/colors' as c;
@use '../../../styles/base/spacing' as s;
@use '../../../styles/base/fonts' as f;

button {
    color: white;
    padding: s.$spacing-400;
    background: c.$purple-600;
    border-radius: s.$spacing-300;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-size: f.$font-size-h4;
    font-weight: f.$font-weight-h;
    display: block;

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
    &.hidden {
        display: none;
    }

    @media screen and (max-width: 767px) {
        padding: s.$spacing-200;
        border-radius: s.$spacing-200;
        font-size: 18px;
    }
}