@use '../../../styles/base/spacing' as s;
@use '../../../styles/base/colors' as c;
@use '../../../styles/base/fonts' as f;

:host {
    .option {
        position: relative;
        overflow: hidden;
        border-radius: 24px;
        background: var(--option-bg-primary);
        border: 3px solid var(--option-bg-primary);
        padding: s.$spacing-300;
        display: flex;
        align-items: center;
        font-size: f.$font-size-h4;
        font-weight: f.$font-weight-h;
        line-height: 56px;
        color: var(--option-color);
        cursor: pointer;
        margin-bottom: s.$spacing-200;
    
        .icon {
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            background: c.$gray-50;
            width: 56px;
            height: 56px;
            text-align: center;
            margin-right: s.$spacing-400;
            color: c.$gray-500;
            flex-shrink: 0;
        }

        > span {
            flex-grow: 2;
        }
    }

    &.selected {
        .option {
            border-color: c.$purple-600;

            .icon {
                color: white;
                background-color: c.$purple-600;
            }
        }
    }

    &.correct {
        .option {
            border-color: c.$green-500;
            .icon {
                color: white;
                background-color: c.$green-500;
            }
        }
    }

    &.incorrect {
        .option {
            border-color: c.$red-500;
            .icon {
                color: white;
                background-color: c.$red-500;
            }
        }
    }
}