@use '../../../styles/base/spacing' as s;
@use '../../../styles/base/colors' as c;

main {
    display: flex;
    justify-content: space-between;
}

.welcome-screen {
    h2 {
        padding-bottom: s.$spacing-600;
        color: var(--font-color-welcome-heading);
    }

    h6 {
        color: var(--font-color-welcome-secondary);
    }
}

.content {
    width: 465px;
    position: relative;
}

.options {
    width: 564px;
}

h1 {
    padding-bottom: s.$spacing-200;
}
