<main>
    <div class="content">
        <div class="welcome-screen">
            @if (!quizStarted()) {
                <h2>
                    <span class="heading-light">Welcome to the</span>
                    Frontend Quiz!
                </h2>
                <h6>Pick a subject to get started.</h6>
            }
            <!-- question -->
            <!-- progress bar -->
        </div>
    </div>
    <div class="options">
        @if (!quizStarted()) {
            @for (option of topics(); track $index) {
                <app-option-item [option]="option" (select)="onSelect($event)"></app-option-item>
            }
        } @else {
            @for (question of topicQuestions(); track question) {
                @for(option of question.options; track $index) {
                    <app-question-item [option]="option" [index]="$index" (select)="onSelect($event)"></app-question-item>
                }
            } 
        }
    </div>
</main>